.scaling-buttons {
	display: flex;
	margin: var(--spacing-s) 0;
}

.scaling-buttons > * {
	margin-right: var(--spacing-s);
}

.image-metadata {
	width: 100%;
	padding: var(--spacing-s);
	background-color: var(--bg-darker);
}

.save-buttons {
	display: flex;
	width: 100%;
	justify-content: stretch;
	margin: var(--spacing-s) 0;
}

.save-buttons > * {
	margin-right: var(--spacing-s);
}
