:root {
	--background-color: hsl(274, 19%, 26%);
	--font-color: hsl(262, 26%, 66%);
	--bg-darker: hsl(274, 10%, 20%);

	--spacing-s: 10px;
}

html,body {
	margin: 0;
	padding: 0;
}

body {
	color: var(--font-color);
	background-color: var(--background-color);
	width: 80%;
	margin: auto;
}

img {
	max-width: 100%;
}
