:root {
	--font-color: hsl(262, 26%, 66%);
	--font-darker: hsl(from var(--font-color) h s calc(l - 20));

	--bg-color: hsl(274, 19%, 26%);
	--bg-darker: hsl(from var(--bg-color) h s calc(l - 6));
	--bg-darkest: hsl(from var(--bg-darker) h s calc(l - 6));

	--spacing-xs: 5px;
	--spacing-s: 10px;
	--spacing-m: 20px;
	--spacing-l: 40px;
}

html,body {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	background-color: var(--bg-darker);
	display: flex;
	flex-direction: row;
	align-items: center;
}
header > a {
	text-decoration: none;
	color: var(--font-color);
	padding: var(--spacing-s) var(--spacing-m);
}
header > a:hover {
	background-color: var(--bg-darkest);
	color: var(--font-darker);
}
.logo-link {
	display: flex;
	align-items: center;
}

body {
	color: var(--font-color);
	background-color: var(--bg-color);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: start;
}
main {
	width: 80%;
	margin: 0 auto;	
}

img {
	max-width: 100%;
}

a {
	color: var(--font-color);
	text-decoration: underline;
}

textarea {
	padding: var(--spacing-xs) var(--spacing-s);
	margin: var(--spacing-s) 0;
	resize: vertical;
	width: 100%;
}

footer {
	width: 100%;
	background-color: var(--bg-darker);
	margin-top: auto;
	display: flex;
	padding: var(--spacing-m) 0 var(--spacing-l) 0;
}

.footer-links {
	width: 80%;
	margin: auto;
}

.footer-links > a {
	padding-right: var(--spacing-m);
}

.footer-links > a:hover {
	color: var(--font-darker);

}
